<h1>All Categories</h1>
<br/>
<div class="container">
  <table class="table table-sm table-striped table-bordered table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= category.description %></td>
          <td>
            <%= link_to 'Show', admin_category_path(category), class:"btn btn-light" %>
          </td>
        </tr>
      <% end%>
    </tbody>
  </table>
</div>
